---
import { t } from '@/i18n/translate';
import type { PageProps } from './PageProps';

const { locale } = Astro.props as PageProps;
---
<div class="title center">
  <h1>{t(locale, 'products.title')}</h1>
</div>
<div class="main">
  <div class="mainBlock center widepadding">
    <p>{t(locale, 'products.description')}</p>
  </div>
</div>
<script is:inline>
  (() => {
    const params = new URLSearchParams(window.location.search);
    const product = params.get('product');
    if (product) {
      window.location.replace(
        `${window.location.pathname.replace(/\/$/, '')}/${encodeURIComponent(product)}/`,
      );
    } else {
      window.location.replace(
        window.location.pathname.replace(/overview\/?$/, '').replace(/\/$/, '') + '/',
      );
    }
  })();
</script>
<noscript>
  <p><a href="../">Go to product listing</a></p>
</noscript>
