---
import BaseLayout from '@/layouts/BaseLayout.astro';
---
<BaseLayout
  titleKey="pagebases.page_not_found.title"
  keywordsKey="404,页面不存在,错误"
  descriptionKey=""
  image="/src/img/notfound.png"
  pageUpdate="19700101"
  lang="en"
>
  <main>
    <h1>404</h1>
  </main>
</BaseLayout>
