body{

    margin: 0;
    padding: 0;
    background-color: whitesmoke;

}

:root{

    --rbg: white;
    --rt: black;
    --mbg: #08B9FF;
    --mt: white;

}

@media (prefers-color-scheme: dark){

	body{

        background-color: #262626;
    
    }

    :root{

        --rbg: #2e2e2e;
        --rt: white;
        --mbg: rgb(112, 112, 112);
        --mt: white;
    
    }

}

p,h1,h2,img{

    margin: 0;
    padding: 0;

}

#cwrheader{

    position: fixed;
    z-index: 999;
    width: 100%;
    height: 50px;
    margin: 0;
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
    background-color: var(--jianbian-color);
    overflow: hidden;
    text-overflow: ellipsis;

}

#cwrht{

    position: absolute;
    display: block;
    font-size: 20px;
    text-align: center;
    top: 11px;
    left: 0;
    width: 100%;

}

#cwrm{

    position: absolute;
	right: 0;
	top: 0px;
	width: 24px;
	padding: 12px;

}

#mainbox{

	display: block;
	height: calc(100% - 200px);
	padding: 60px 20px 138px 20px;
	overflow: auto;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;

}

.i{

    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 100%;

}

.messagebox{

    display: block;
    width: 100%;
    margin: 15px 0;
    float: left;

}

.messagebox.fromuser{

    float: right;

}

.message{

    display: block;
    max-width: 60%;
    border-radius: 15px;
    padding: 12px;
    margin: 0 10px;
    font-size: 17px;

}

.message.fromuser{

    background-color: var(--mbg);
    color: var(--mt);
    float: right;
    border-top-right-radius: 0;

}

.message.fromrobot{

    background-color: var(--rbg);
    color: var(--rt);
    float: left;
    border-top-left-radius: 0;

}

.useri{

    float: right;

}

.roboti{

    float: left;

}

#writebox{

    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 48px;
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
    background-color: rgba(255,255,255,0.2);

}

input, textarea, button{

	outline: none;

}

#msg{

    position: absolute;
    left: 6px;
    bottom: 6px;
    margin: 0;
	padding: 8px;
	width: calc(100% - 70px);
	min-height: 20px;
    max-height: 300px;
	border: 0px!important;
	font-size: 17px;
	color: var(--rt);
    border-radius: 8px;
	-webkit-backdrop-filter: saturate(180%) blur(20px);
	backdrop-filter: saturate(180%) blur(20px);
	background-color: var(--jianbian-color);

}

#sendbutton{

	margin: 0px;
	position: absolute;
	bottom: 6px;
    right: 6px;
	border-radius: 8px;
	width: 36px;
	height: 36px;
	border: 0px!important;
	/* font-size: 17px; */
    text-align: center;
	color: var(--mt);
	-webkit-backdrop-filter: saturate(180%) blur(20px);
	backdrop-filter: saturate(180%) blur(20px);
	background-color: var(--jianbian-color);
    transition: all 0.3s;

}

#sendbutton:hover{

    background-color: rgba(255,255,255,0.2);

}


#settings{

    position: fixed;
    top: 60px;
    right: 20px;
    width: 200px;
    padding: 12px;
    box-shadow: #424242 0px 0px 13px;
    border-radius: 15px;
    background-color: white;
    color: black;
    display: none;

}

#settings.opened{

    display: block;

}

.sb{

    display: block;
    padding: 5px 14px;
    background-color: #e6e6e6;
    color: #08B9FF;
    cursor: pointer;

}

.errormassage{

    font-size: smaller;
    background-color: rgba(0,0,0,0.2);
    width: 8em;
    display: flex;
    padding: 6px;
    border-radius: 5px;
    position: relative;
    float: none;
    left: 50%;
    transform: translate(-50%,-50%);

}

#settings p{

    font-size: 13px;
    padding-top: 4px;

}

#resultBox, #timeBox{

    display: none;

}