* {
    --jianbian: blur(25px);
    --jianbian-color: rgba(255, 255, 255, 0.72);
    --a-color: var(--text-yellow);
    --logolike-yellow-lighter: #EAD050;
    --logolike-yellow-darker: #E5A923;
    --text-yellow: #E5A923;
    --text-deepbrown: #604D42;
    --text-grey: #757575;
    --text-color: #000;
    --bgg: white;
    --text: black;
    --grey1: #F3F3F3;
    --grey2: #f7f7f7;
    --grey3: #e1e1e1;
    --grey4: #808080;
    --grey5: #5a5a5a;
    --index-text-yellow: #e8c200;
    --index-button-background: #ffffff99;
    --index-button-hover-background: #fff;
    --index-button-border: rgb(41, 41, 41);
    --index-button-border-b: rgb(147 147 147 / 30%);
    --select-bgcolor: #d7d7d7;
    --select-shadow: 0px 0px 2px #9e9e9e70 inset;
    --select-y-bg: rgb(255, 238, 0);
    --select-cursor: #fff;
    --select-cursor-shadow: 0 0px 1px 2px rgb(0 0 0 / 1%);
    --select-label: rgb(0, 0, 0);

    --outline: 3px solid rgb(250 187 0 / 60%);
}

body {
    background: #fff;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%;
}

html[data-theme=dark] * {
    --jianbian-color: rgba(52, 50, 50, 0.7);
    --text-yellow: #EAD050;
    --text-deepbrown: #fff;
    --text-grey: #757575;
    --text-color: #fff;
    --bgg: #262626;
    --text: white;
    --grey1: #3B3B3B;
    --grey2: #333333;
    --grey3: #666666;
    --grey4: #515151;
    --grey5: #d8d8d8;
    --index-text-yellow: #f1d442;
    --index-button-background: #20202099;
    --index-button-hover-background: rgba(41, 41, 41, 0.705);
    --index-button-border: rgb(196, 196, 196);
    --index-button-border-b: rgba(196, 196, 196, 0.5);
    --select-bgcolor: #595959;
    --select-shadow: 0px 0px 2px #58585870 inset;
    --select-y-bg: rgb(255, 238, 0);
    --select-cursor: #f8f8f8;
    --select-cursor-shadow: 0 0px 1px 2px rgb(0 0 0 / 1%);
    --select-label: #fff;
}

html[data-theme=dark] body {
    color: white;
    background: #262626;
}

html[data-theme=dark] * {
    color-scheme: dark;
}

body {
    line-height: normal;
    font-family: "HarmonyOS Sans SC", "HarmonyOS Sans", -apple-system, BlinkMacSystemFont, Helvetica Neue, PingFang SC, NotoSansHansRegular, Source Han Sans SC, Noto Sans CJK SC, WenQuanYi Micro Hei, Microsoft YaHei, sans-serif;
    margin: 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

* {
    font-family: "HarmonyOS Sans SC", "HarmonyOS Sans", -apple-system, BlinkMacSystemFont, Helvetica Neue, PingFang SC, NotoSansHansRegular, Source Han Sans SC, Noto Sans CJK SC, WenQuanYi Micro Hei, Microsoft YaHei, sans-serif;
}

/* @font-face {
    font-family: 'NotoSansHansRegular';
    src: url('https://websiteres.nmteam.xyz/nmwebsite/font/NotoSansSC.otf');
    src: local('NotoSansHans Regular'),
    local('NotoSansHans'),
} */
*:focus-visible {
    outline: var(--outline);
}

.title {
    background: var(--logolike-yellow-lighter);
    position: relative;
    margin: -82px 0 18px 0;
    padding: 130px 34px 13px 34px;
    text-align: left;
    color: #000;
    overflow-y: hidden;
}

.title.center {
    text-align: center;
}

.title h1 {
    margin: 0 0 10px 0;
    animation: main 0.5s;
}

.title.largepadding {
    padding: 130px calc(10% + 8px) 13px calc(10% + 8px);
}

.titleBack {
    display: block;
    position: absolute;
    top: 70px;
    left: 34px;
    color: white !important;
    margin: 0;
    z-index: 3;
}

.title small {
    font-size: 20px;
    font-weight: 300;
    animation: main 0.5s;
}

.main {
    position: relative;
    margin: 0;
    padding: 5px 10%;
    animation: main 0.5s;
}

a:not(.map-link):not(.header-link):not(.footer-a):not(.card-seemore):link {
    text-decoration: none;
    color: var(--a-color);
}

a:not(.map-link):not(.header-link):not(.footer-a):not(.card-seemore):hover {
    text-decoration: underline;
    color: var(--a-color);
}

a:not(.map-link):not(.header-link):not(.footer-a):not(.card-seemore):visited {
    color: var(--a-color);
    text-decoration: none;
}

.common-tip {
    display: block;
    backdrop-filter: var(--jianbian);
    -webkit-backdrop-filter: var(--jianbian);
    background-color: var(--jianbian-color);
    padding: 2px 13%;
    margin-left: -8px;
    margin-right: -8px;
}

.account {
    height: 35px;
    font-size: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-break: break-all;
}

.account img {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    margin: 0 5px -8px 0;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    transition: height 0.4s;
    -moz-transition: height 0.4s;
    -webkit-transition: height 0.4s;
    -o-transition: height 0.4s;
}

beta-tag {
    font-size: 15px;
    font-weight: bold;
    color: white;
    padding: 3px 6px;
    border-radius: 4px;
    background-image: linear-gradient(141deg, #1fc8db 0%, #1fc8db 51%, #2cb5e8 75%);
    text-shadow: 1px 1px 1px grey;
}

.spinner {
    margin: 6px calc(50% - 25px) 20px calc(50% - 25px);
    width: 50px;
    height: 60px;
    text-align: center;
    font-size: 10px;
}

.spinner>div {
    background-color: #0F75B6;
    height: 100%;
    width: 6px;
    display: inline-block;
    -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
    animation: stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
}

.spinner .rect3 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

.spinner .rect4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}

.spinner .rect5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
}

.updateDate {
    margin: 20px 10%;
    font-size: 14px;
    font-weight: 300;
    color: var(--text-grey);
}

.mainBlock {
    margin: 0 0 30px 0;
}

.main h1,
.main h2,
.main h3 {
    position: relative;
    margin: 0;
    padding: 10px 10%;
    font-weight: bold;
    text-align: center;
    color: var(--text-yellow);
}

.main h1 {
    padding: 10px 10%;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    color: var(--text-yellow);
}

.main h2 {
    padding: 10px 10%;
    font-size: 20px;
}

.main h3 {
    padding: 10px 10%;
    font-size: 18px;
}

.mainBlock p {
    position: relative;
    margin: 0;
    padding: 0;
    font-size: 17px;
    line-height: 1.6;
    text-align: left;
}

.mainBlock.center p {
    text-align: center;
}

.mainBlock.widepadding p {
    padding: 1.5px 10%;
}

.indexMoreLink {
    display: block;
    text-align: center;
    padding: 9px 0;
    color: var(--text-yellow) !important;
    text-decoration: none !important;
    border-radius: 2px;
}

.indexMoreLink:hover {
    opacity: 0.7;
}

.indexMoreLinks {
    display: flex;
    margin: 14px 0 5px 0;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.indexMoreLinks a:not(.tip) {
    display: flex;
    flex-direction: row;
    outline: none;
    margin: 2px;
    padding: 8px 12px;
    border: 1.6px solid #ffffff00;
    border-color: var(--index-button-border-b);
    border-radius: 300px;
    text-decoration: none !important;
    color: var(--text) !important;
    background: var(--index-button-background);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    transition: all 0.33s;
}

.indexMoreLinks a:not(.tip):hover,
.indexMoreLinks a:not(.tip):focus-visible {
    background: var(--index-button-hover-background);
    border: 1.6px solid var(--index-button-border);
}

.indexMoreLinks a:not(.tip):not(*[data-button-type=no]):focus-visible,
.indexMoreLinks a:not(.tip):not(*[data-button-type=no]):hover {
    padding: 8px 11px;
}

.indexMoreLinks a:not(.tip) span {
    font-weight: bold;
}

.indexMoreLinks a:not(.tip) .svg {
    margin: 1.5px -2px 0 2px;
    width: 15px;
    height: 15px;
    fill: var(--text);
    opacity: 0.8;
    transition: all 0.33s;
}

.indexMoreLinks a:not(.tip):focus-visible .svg,
.indexMoreLinks a:not(.tip):hover .svg {
    margin-left: 4px;
    opacity: 1;
}

@-webkit-keyframes stretchdelay {

    0%,
    40%,
    100% {
        -webkit-transform: scaleY(0.4)
    }

    20% {
        -webkit-transform: scaleY(1.0)
    }
}

@keyframes stretchdelay {

    0%,
    40%,
    100% {
        transform: scaleY(0.4);
        -webkit-transform: scaleY(0.4);
    }

    20% {
        transform: scaleY(1.0);
        -webkit-transform: scaleY(1.0);
    }
}

@keyframes main {
    0% {
        position: relative;
        top: 50px;
        opacity: 0;
    }

    99% {
        position: relative;
        top: 0px;
        opacity: 1;
    }

    100% {}
}

.tabView {}

.tabHeader {
    overflow: visible;
    overflow-x: auto;
    /* overflow-x: overlay; */
    white-space: nowrap;
    /* height: 50px; */
    display: flex;
    border-radius: 6px 6px 0 0;
    justify-content: flex-start;
    align-items: flex-end;
    scrollbar-width: thin;
}

.tabHeader button {
    border: none;
    outline: none;
    background: var(--grey1);
    color: var(--text);
    padding: 12px 12px 8px 12px;
    margin: 0px 4px 0 0px;
    border-radius: 6px 6px 0 0;
    font-size: 16px;
    transition: padding 0.2s;
}

.tabHeader *:last-child {
    margin-right: 0;
}

.tabHeader button:hover,
.tabHeader button:focus-visible {
    padding-bottom: 12px;
    filter: brightness(0.94);
}

.tabHeader button[data-status=focus] {
    font-weight: bold;
    background: var(--logolike-yellow-lighter);
    color: #000;
    padding-bottom: 12px;
}

.tabContents {
    border: 1px solid var(--logolike-yellow-lighter);
    border-radius: 0 0 6px 6px;
    min-height: 100px;
    transition: all 0.3s;
}

.tabContents .content {
    display: none;
    visibility: hidden;
    /* max-height: 0; */
    padding: 0 10px;
    overflow: hidden;
}

.tabContents .content[data-status=focus] {
    display: block;
    visibility: visible;
    /* max-height: 80vh; */
    padding: 12px 20px;
    /* overflow: auto; */
}

.pageConfirmDialog {
    visibility: hidden;
    position: fixed;
    z-index: 999;
    bottom: 20px;
    right: -720px;
    width: min(400px, calc(100vw - 80px));
    max-height: calc(100vh - 120px);
    padding: 16px 18px !important;
    background-color: var(--jianbian-color);
    backdrop-filter: var(--jianbian);
    -webkit-backdrop-filter: var(--jianbian);
    border-radius: 8px;
    box-shadow: #00000026 1px 3px 17px;
    color: var(--text-color);
    overflow-y: auto;
    transition: right 0.6s, visibility 0.8s;
}

.pageConfirmDialog[data-status=open] {
    visibility: visible;
    right: 20px;
}

.pageConfirmDialogHeader {
    font-size: 20px;
    font-weight: bold;
    line-height: 1.4 !important;
    padding-bottom: 8px !important;
}

.pageConfirmDialogBody {
    font-size: 16px;
    line-height: 1.7 !important;
    padding-bottom: 3px !important;
}

.pageConfirmDialogFooter {
    padding-top: 1px !important;
    display: flex;
    flex-wrap: wrap;
    text-align: end;
    justify-content: end;
    align-content: flex-end;
    align-items: flex-end;
}

.pageConfirmDialogFooter button {
    color: var(--text-yellow);
    padding: 3px 12px !important;
    background: none;
    border: none;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 2px;
}

.pageConfirmDialogFooter button:hover,
.pageConfirmDialogFooter button:focus-visible {
    background-color: #00000022;
}

.insiderTip {
    position: fixed;
    bottom: 20px;
    left: 20px;
    font-size: 18px;
    color: var(--text-yellow);
    z-index: 9999;
    margin: 0;
    padding: 0;
}

.tabContents .indexMoreLinks {
    justify-content: left;
}

.select-radio-box {
    position: relative;
    width: 45px;
    height: 25px;
}

.select-radio-box input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 99;
}

.select-radio-box input:focus+.select-switch {
    outline: var(--outline);
    transition: outline 0s;
}

.select-switch {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 100px;
    background: var(--select-bgcolor);
    box-shadow: var(--select-shadow);
    transition: all 0.2s ease-in-out;
}

.select-radio-box input:checked~.select-switch {
    background: var(--select-y-bg);
}

.select-cursor {
    display: inline-block;
    position: absolute;
    top: 3px;
    left: 3px;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background: var(--select-cursor);
    box-shadow: var(--select-cursor-shadow);
    z-index: 10;
    transition: all 0.3s cubic-bezier(0.05, 0.73, 0.25, 1);
}

.select-radio-box input:checked~.select-switch .select-cursor {
    left: 23px;
}

.select-label {
    position: absolute;
    top: 0;
    width: 20px;
    font-size: 10px;
    line-height: 2.5;
    color: var(--select-label);
    text-align: center;
    transition: all 0.3s cubic-bezier(0.05, 0.73, 0.25, 1);
}

.select-label-on {
    left: -19px;
    opacity: 0.5;
}

.select-radio-box input:checked~.select-switch .select-label-on {
    left: 3px;
    opacity: 1;
}

.select-label-off {
    opacity: 1;
    right: 0;
}

.select-radio-box input:checked~.select-switch .select-label-off {
    opacity: 0.5;
    right: -20px;
}