#header-main {

	position:fixed;
	z-index:999;
	width:100%;
	margin-top:-15px;
	margin-left:-8px;
	margin-right:-8px;
	-webkit-backdrop-filter:saturate(180%) blur(20px);
	backdrop-filter:saturate(180%) blur(20px);
	background-color:var(--jianbian-color);
	overflow:hidden;
	text-overflow:ellipsis;
}
#header-title {
	margin-top:18px;
	z-index:1000;
}
.header-link:link {
	text-decoration:none!important;
	color:black!important;
}
.header-link:hover {
	text-decoration:underline!important;
	color:black!important;
}
.header-link:visited {
	color:black!important;
	text-decoration:none!important;
}
@media (prefers-color-scheme:dark) {
	#header-main {
	color:white;
	-webkit-backdrop-filter:blur(20px);
	backdrop-filter:blur(20px);
}
.header-link:link {
	text-decoration:none!important;
	color:white!important;
}
.header-link:hover {
	text-decoration:underline!important;
	color:white!important;
}
.header-link:visited {
	color:white!important;
	text-decoration:none!important;
}
.icon {
	fill:#ffffff;
}
.changecolor {
	filter:invert(100%);
}
}@media(max-width:700px) {
	.height {
	height:58px;
}
#header-main {
	transition:all 0.25s;
	-moz-transition:all 0.25s;
	/* Firefox 4 */
		-webkit-transition:all 0.25s;
	/* Safari 和 Chrome */
		-o-transition:all 0.25s;
	/* Opera */
}
.header-main-opened {
	backdrop-filter:none!important;
	-webkit-backdrop-filter:none!important;
	background:none!important;
}
#header-title img {
	height:40px;
	margin-bottom:-10px;
	margin-right:5px;
}
.header-main-opened #header-title {
	color:white!important;
}
#header-title {
	transition:all 0.25s;
	-moz-transition:all 0.25s;
	/* Firefox 4 */
		-webkit-transition:all 0.25s;
	/* Safari 和 Chrome */
		-o-transition:all 0.25s;
	/* Opera */
}
.header-main-opened svg {
	fill:white!important;
}
.header-main-opened .changecolor {
	filter:invert(100%)!important;
}
#header-main svg {
	transition:all 0.25s;
	-moz-transition:all 0.25s;
	/* Firefox 4 */
		-webkit-transition:all 0.25s;
	/* Safari 和 Chrome */
		-o-transition:all 0.25s;
	/* Opera */
}
#header-title {
	text-align:center;
	font-size:24px;
	margin:10px 43px;
}
#header-title img {
	height:40px;
}
#mobile-menu {
	position:fixed;
	z-index:1001;
	left:0px;
	top:-3px;
	padding:15px 47px 0px 10px;
}
.header-map {
	width:calc(100% - 70px);
	font-size:18px;
	margin:0px -8px;
	padding:10px 0px 10px 70px;
	color:white!important;
	transition:all 0.75s;
	-moz-transition:all 0.75s;
	/* Firefox 4 */
		-webkit-transition:all 0.75s;
	/* Safari 和 Chrome */
		-o-transition:all 0.75s;
	/* Opera */
		transform:scale(0);
	/* height:0;
	*/
}
#header-account {
	color:white;
	position:absolute;
	bottom:50px;
	left:54px;
	right:54px;
	opacity:0;
	transition:all 0.5s;
	-moz-transition:all 0.5s;
	/* Firefox 4 */
		-webkit-transition:all 0.5s;
	/* Safari 和 Chrome */
		-o-transition:all 0.5s;
	/* Opera */
}
.cover-opened #header-account {
	color:white;
	position:absolute;
	bottom:20px;
	opacity:1;
	transition-delay:0.5s;
	-moz-transition-delay:0.5s;
	/* Firefox 4 */
		-webkit-transition-delay:0.5s;
	/* Safari 和 Chrome */
		-o-transition-delay:0.5s;
	/* Opera */
}
#cover {
	width:100%;
	height:0;
	margin:-80px -8px -8px -8px;
	position:fixed;
	z-index:50;
	background-color:black;
	opacity:0.2;
	visibility:hidden;
	transition:all 0.75s;
	-moz-transition:all 0.75s;
	/* Firefox 4 */
		-webkit-transition:all 0.75s;
	/* Safari 和 Chrome */
		-o-transition:all 0.75s;
	/* Opera */
}
#map-box-main {
	position:absolute;
	top:60px;
	/* bottom:calc(100% - 55px);
	*/
		left:0px;
	padding:10px 0 20px 0;
	width:calc(100% + 16px);
	overflow-y:auto;
	max-height:calc(100% - 155px);
	margin:0 -8px;
	z-index:60;
	visibility:hidden;
	background-color:none!important;
	transition:all 0.75s;
	-moz-transition:all 0.75s;
	/* Firefox 4 */
		-webkit-transition:all 0.75s;
	/* Safari 和 Chrome */
		-o-transition:all 0.75s;
	/* Opera */
}
.map-box-opened {
	visibility:visible!important;
	height:auto!important;
	/* top:55px!important;
	*/
		/* bottom:0!important;
	*/
}
.map-box-opened .header-map {
	transform:scale(1)!important;
	height:auto!important;
}
.cover-opened {
	opacity:0.9!important;
	visibility:visible!important;
	height:calc(100% + 16px)!important;
	backdrop-filter:var(--jianbian)!important;
	-webkit-backdrop-filter:var(--jianbian)!important;
}
.map-link,.map-link:hover,.map-link:hover div,.map-link:active,.map-link:active div {
	text-decoration:none!important;
	color:#BDBDBD!important;
}
@media (prefers-color-scheme:dark) {
	#mobile-menu {
	fill:white;
}
}}@media(min-width:701px) {
	.height {
	height:70px;
}
#header-main p,#header-main h1 {
	display:inline-block;
	margin-top:10px;
}
#header-title {
	margin-left:25px;
}
#header-title img {
	height:50px;
	margin-bottom:-10px;
	margin-right:5px;
}
.header-map {
	display:inline-block;
	font-size:20px;
	margin:10px 0px 0px 3px;
	height:30px;
	padding:15px 12px 8px 12px;
}
#map-box {
	position:fixed;
	right:15px;
	top:0px;
	max-width:calc(100% - 380px);
	text-align:right;
	z-index:1000;
	height:68px;
	text-overflow:hidden;
	overflow:hidden;
}
#header-account {
	float:right;
	position:relative;
	right:0px;
	top:16px;
	margin-left:8px;
	max-width:190px;
	/* margin-bottom:-60px;
	*/
}
#mobile-menu {
	display:none;
}
#clicker {
	position:fixed;
}
.map-link {
	text-decoration:none!important;
}
.map-link div:link , .map-link div:hover {
	text-decoration:none;
	background-color:#c2c2c2c2;
	color:white;
}
.map-link div {
	background-color:none!important;
	text-decoration:none;
	color:black;
	backdrop-filter:none!important;
}
@media (prefers-color-scheme:dark) {
	.map-link div:link {
	text-decoration:none;
	background-color:white;
	color:black;
}
.map-link div:hover {
	text-decoration:none;
	background-color:white;
	color:black;
}
.map-link div:visited {
	background-color:black;
	text-decoration:none;
	color:white;
}
.map-link div {
	background-color:none!important;
	text-decoration:none;
	color:white;
	backdrop-filter:none!important;
}
}}.footer-a:link {
	text-decoration:none;
	color:white;
}
.footer-a:hover {
	text-decoration:underline;
	color:white;
}
.footer-a:visited {
	color:white;
	text-decoration:none;
}
.footer-span {
	
	-webkit-backdrop-filter: saturate(180%) blur(20px);
	backdrop-filter: saturate(180%) blur(20px);
	background-color: var(--jianbian-color);
	overflow: hidden;
	text-overflow: ellipsis;


}

#header-title{
	margin-top: 18px;
	z-index: 1000;
	
	
}
.header-link:link{
	text-decoration:none!important;
	color:black!important;
}
.header-link:hover{
	text-decoration:underline!important;
	color:black!important;
}
.header-link:visited{
	color:black!important;
	text-decoration:none!important;
}

@media (prefers-color-scheme: dark) {
	
	#header-main{
		color:white;
		-webkit-backdrop-filter: blur(20px);
		backdrop-filter: blur(20px);
	}
	.header-link:link{
		text-decoration:none!important;
		color:white!important;
	}
	.header-link:hover{
		text-decoration:underline!important;
		color:white!important;
	}
	.header-link:visited{
		color:white!important;
		text-decoration:none!important;
	}
	.icon {
		
		fill: #ffffff;
		
	}

	.changecolor{
		
		filter: invert(100%);
		
	}
}

@media(max-width:700px){


	.height {          

		height: 58px;
		
	}

	#header-main{
		
		transition: all 0.25s;
		-moz-transition: all 0.25s; /* Firefox 4 */
		-webkit-transition: all 0.25s; /* Safari 和 Chrome */
		-o-transition: all 0.25s; /* Opera */
			
	}

	.header-main-opened{
		
		backdrop-filter: none!important;
		-webkit-backdrop-filter: none!important;
		background: none!important;
		
	}

	#header-title img{
		
		height: 40px;
		margin-bottom: -10px;
		margin-right: 5px;
	}
		

	.header-main-opened #header-title{

		color: white!important;

	}

	#header-title{

		transition: all 0.25s;
		-moz-transition: all 0.25s; /* Firefox 4 */
		-webkit-transition: all 0.25s; /* Safari 和 Chrome */
		-o-transition: all 0.25s; /* Opera */
		
	}

	.header-main-opened svg{
		
		fill: white!important;
			
	}
.header-main-opened .changecolor{
		
		filter: invert(100%)!important;
			
	}

	#header-main svg{
		
		transition: all 0.25s;
		-moz-transition: all 0.25s; /* Firefox 4 */
		-webkit-transition: all 0.25s; /* Safari 和 Chrome */
		-o-transition: all 0.25s; /* Opera */

	}

	#header-title{
		
		text-align: center;
		font-size: 24px;
		margin: 10px 43px;
		
	}

	#header-title img{
		
		height: 40px;
		
	}

	#mobile-menu {
		
		position: fixed;
		z-index: 1001;
		left: 0px;
		top: -3px;
		padding: 15px 47px 0px 10px;
		
	}

	.header-map{
		
		width: calc(100% - 70px);	
		font-size: 18px;
		margin: 0px -8px;
		padding: 10px 0px 10px 70px;
		color: white!important;
		transition: all 0.75s;
		-moz-transition: all 0.75s; /* Firefox 4 */
		-webkit-transition: all 0.75s; /* Safari 和 Chrome */
		-o-transition: all 0.75s; /* Opera */
		transform: scale(0);
		/* height: 0; */
	}

	#header-account{
	
		color: white;
		position: absolute;
		bottom: 50px;
		left: 54px;
		right: 54px;
		opacity: 0;
		transition: all 0.5s;
		-moz-transition: all 0.5s; /* Firefox 4 */
		-webkit-transition: all 0.5s; /* Safari 和 Chrome */
		-o-transition: all 0.5s; /* Opera */
		
	}
	
	.cover-opened #header-account{
	
		color: white;
		position: absolute;
		bottom: 20px;
		opacity: 1;
		transition-delay: 0.5s;
		-moz-transition-delay: 0.5s; /* Firefox 4 */
		-webkit-transition-delay: 0.5s; /* Safari 和 Chrome */
		-o-transition-delay: 0.5s; /* Opera */
			
	}
	
	#cover{
		
		width: 100%;
		height: 0;
		margin: -80px -8px -8px -8px;
		position: fixed;
		z-index: 50;
		background-color: black;	
		opacity: 0.2;
		visibility: hidden;
		transition: all 0.75s;
		-moz-transition: all 0.75s; /* Firefox 4 */
		-webkit-transition: all 0.75s; /* Safari 和 Chrome */
		-o-transition: all 0.75s; /* Opera */
			
	}


	#map-box-main {
		
		position: absolute;
		top: 60px;
		/* bottom: calc(100% - 55px); */
		left: 0px;
		padding: 10px 0 20px 0;
		width: calc(100% + 16px);
		overflow-y: auto;
		max-height: calc(100% - 155px);
		margin: 0 -8px;
		z-index: 60;
		visibility: hidden;
		background-color: none!important;
		transition: all 0.75s;
		-moz-transition: all 0.75s; /* Firefox 4 */
		-webkit-transition: all 0.75s; /* Safari 和 Chrome */
		-o-transition: all 0.75s; /* Opera */
			
	}

	.map-box-opened{
		
		visibility: visible!important;
		height: auto!important;
		/* top: 55px!important; */
		/* bottom: 0!important; */
	}

	.map-box-opened .header-map{
		
		transform: scale(1)!important;
		height: auto!important;
		
	}

	.cover-opened{
		
		opacity:0.9!important;
		visibility: visible!important;
		height: calc(100% + 16px)!important;
		backdrop-filter: var(--jianbian)!important;
		-webkit-backdrop-filter: var(--jianbian)!important;	
		

		
	}

	.map-link:hover, .map-link:hover div, .map-link:active, .map-link:active div{

		text-decoration: none!important;
		color: #BDBDBD!important;
		
	}

	@media (prefers-color-scheme: dark) {

		#mobile-menu{
			
			fill: white;
			
		}
	}

}



@media(min-width:701px){

	.height {
		
		height: 70px;
		
	}

	#header-main p,#header-main h1 {

		display: inline-block;
		margin-top: 10px;

	}

	#header-title{

		margin-left: 25px;

	}

	#header-title img{
		
		height:50px;
		margin-bottom:-10px;
		margin-right:5px;
		
	}

	.header-map{

		display: inline-block;
		font-size: 20px;
		margin: 10px 0px 0px 3px;
		height: 30px;
		padding: 15px 12px 8px 12px;

	}

	#map-box{
		
		position: fixed;
		right: 15px;
		top: 0px;
		max-width: calc(100% - 380px);
		text-align: right;
		z-index: 1000;
		height: 68px;
		text-overflow: hidden;
		overflow: hidden;

	}

	#header-account{
		
		float: right;
		position: relative;
		right: 0px;
		top: 16px;
		margin-left: 8px;
		max-width: 190px;
		/* margin-bottom:-60px; */
		
	}
	
	#mobile-menu {

		display:none;

	}

	#clicker {

		position:fixed;

	}


	.map-link div:link{
		text-decoration:none;
		background-color:grey;
		color:white;
	}
	.map-link div:hover{
		text-decoration:none;
		background-color:grey;
		color:white;
	}
	.map-link div:visited{
		background-color:grey;
		text-decoration:none;
		color:black;
	}
	.map-link div{
		background-color:none!important;
		text-decoration:none;
		color:black;
		backdrop-filter: none!important;
		
	}

	@media (prefers-color-scheme: dark) {
		
			.map-link div:link{
			text-decoration:none;
			background-color:white;
			color:black;
		}
		.map-link div:hover{
			text-decoration:none;
			background-color:white;
			color:black;
		}
		.map-link div:visited{
			background-color:black;
			text-decoration:none;
			color:white;
		}
		.map-link div{
			background-color:none!important;
			text-decoration:none;
			color:white;
			backdrop-filter: none!important;
		}
		
	}

}


.footer-a:link{

	text-decoration:none;
	color:white;

}

.footer-a:hover{

	text-decoration:underline;
	color:white;

}

.footer-a:visited{

	color:white;
	text-decoration:none;

}

.footer-span{

	font-size:14px;
	color:#CCCCCC;
	text-align:center;
	line-height:2.0;
	padding-top: 5px;
}
.footer-body {
	background-color:grey;
	margin:0 -8px -8px -8px;
	padding:5px 15px 15px 15px;
}

.footer-span p {
	text-align:center;
	margin:0;
	padding:0;
}