:root{
    --teamLeader-color: #f8f8f8;
}
@media (prefers-color-scheme: dark){
    :root{
        --teamLeader-color: #303030;
    }
}
.indexHeader{
    position: relative;
    left: -8px;
    top: -82px;
    z-index: 999;
    width: calc(100% + 16px);
    height: 60vh;
    margin-bottom: -40px;
    background-color: var(--logolike-yellow-lighter);
    background-image: url(https://logos.nmteam.agou.im/nmTeam/logo@256.png);
    background-position-x: center;
    background-position-y: 40%;
    background-size: auto 50%;
    background-repeat: no-repeat;
    animation: logoComing 2s;
}
.indexHeader i{
    position: absolute;
    left: 0;
    right: 0;
    top: 69%;
    bottom: 4%;
    background-image: url(/src/img/logotext.png);
    background-position-x: center;
    background-position-y: center;
    background-size: auto 100%;
    background-repeat: no-repeat;
    animation: nameComing 1s;
}
.body{
    animation: indexmain 1.6s ;
}
.nmProductsPreview{
    width: 100%;
    max-width: 600px;
    height: 180px;
    margin: 20px auto 10px auto;
}
@media (max-width: 600px) {
    .nmProductsPreview{
        width: auto;
        max-width: unset;
        height: 200px;
        margin: 20px -14% 10px -14%;
    }
}
.nmProductsPreview .swiper-button-prev::after, .nmProductsPreview .swiper-button-next::after{
    font-size: 10px;
    color: var(--logolike-yellow-lighter);
}
/* .nmProductsPreview .swiper-button-prev{
    left: -20px;
}
.nmProductsPreview .swiper-button-next{
    right: -20px;
} */
.swiper-pagination-bullet{
    background: var(--logolike-yellow-lighter);
}
.nmProductsPreview .swiper-slide{
    width: 200px;
    height: 170px;
    text-align: center;
    background-position-x: 50%;
    background-position-y: 2%;
    background-size: 63%;
    background-repeat: no-repeat;
}
/* .nmProductsPreview .swiper-slide:not(.swiper-slide swiper-slide-active){
    transform: scale(0.9);
} */
.nmProductsPreview .swiper-slide p{
    position: absolute;
    left: 0;
    right: 0;
    top: 72%;
    font-size: 20px;
    font-weight: 450;
    color: var(--text-color);
}
.indexMoreLink{
    display: block;
    text-align: center;
    color: var(--text-yellow)!important;
    text-decoration: none!important;
}
.indexMoreLink:hover{
    opacity: 0.7;
}
.contactContainer{
    padding: 5px 10%;
    text-align: center;
}
a.contact{
    display: inline-block;
    background-position-x: 6px;
    background-position-y: 50%;
    background-size: 20px;
    background-repeat: no-repeat;
    padding: 6px;
    max-width: 20px;
    font-size: 300;
    border-radius: 233px;
    box-shadow: #3333334f 1px 2px 4px;
    background-color: var(--teamLeader-color);
    color: var(--text)!important;
    overflow: hidden;
    transition: all 0.8s;
    text-decoration: none!important;
}
.contact:hover{
    max-width: 12em;
}
.contact b{
    padding-right: 5px;
    font-size: 400;
    padding-left: 23px;
    opacity: 0;
    transition: opacity 0.1s 0.7s;
}
.contact:hover b{
    opacity: 1;
    transition: opacity 0s 0s;
}
@keyframes logoComing{
    0%{
        background-position-y: 50%;
        background-size: auto 1000%;
        position: fixed;
        top: 0;
        bottom: 0;
        height: auto;
    }
    50%{
        background-position-x: center;
        background-position-y: 40%;
        background-size: auto 50%;
        position: fixed;
        top: 0;
        bottom: 0;
        height: auto;
    }
    60%{
        background-position-x: center;
        background-position-y: 40%;
        background-size: auto 50%;
        position: fixed;
        top: 0;
        bottom: 0;
        height: auto;
    }
    60.000000001%{
        background-position-x: center;
        background-position-y: 40%;
        background-size: auto 50%;
        position: relative;
        margin-top: -0px;
        top: -74px;
        height: calc(100vh + 45px);
        /* height: 100vh; */
        /* margin-bottom: -28px; */
    }
}
@media (min-width: 700px) {
        
    @keyframes logoComing{
        0%{
            background-position-y: 50%;
            background-size: auto 1000%;
            position: fixed;
            top: 0;
            bottom: 0;
            height: auto;
        }
        50%{
            background-position-x: center;
            background-position-y: 40%;
            background-size: auto 50%;
            position: fixed;
            top: 0;
            bottom: 0;
            height: auto;
        }
        60%{
            background-position-x: center;
            background-position-y: 40%;
            background-size: auto 50%;
            position: fixed;
            top: 0;
            bottom: 0;
            height: auto;
        }
        60.000000001%{
            background-position-x: center;
            background-position-y: 40%;
            background-size: auto 50%;
            position: relative;
            margin-top: -0px;
            top: -84px;
            height: calc(100vh + 43px);
            /* height: 100vh; */
            /* margin-bottom: -28px; */
        }
    }
}
@keyframes nameComing{
    0%{
        top: 73%;
        opacity: 0;
    }
        90%{
        top: 73%;
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@keyframes indexmain{
    0%{
        height: 0;
    }
    2%{
        height: auto;
    }
}