.title{
    padding-right: 130px!important;
}
.title i{
    position: absolute;
    bottom: 15px;
    right: 10%;
    width: 100px;
    height: 100px;
    border-radius: 666px;
    background-size: 100px;
}
.intro p{
    margin: 0.5em 0;
    line-height: 1.8;
}
@media (min-width: 800px) {
    .main{
        display: flex;
    }
    .intro{
        width: 48%;
    }
    .intro.right{
        margin-left: 4%;
    }
}