#otherMembers{
    text-align: left;
}
.otherMember{
    display: inline-block;
    position: relative;
    height: 60px;
    width: calc(33% - 6px);
    margin: 2px;
    padding: 0px;
    background-color: var(--teamLeader-color);
    border-radius: 4px;
    box-shadow: #3333334f 1px 2px 4px;
    overflow: hidden;
    text-decoration: none!important;
    color: var(--text-color);
    transition: opacity 0.25s;
}
.otherMember:hover{
    opacity: 0.7;
}
@media (max-width: 700px) {
    .otherMember{
        width: calc(50% - 7px);
    }
}
@media (min-width: 1300px) {
    .otherMember{
        width: calc(25% - 8px);
    }
}
.otherMember p{
    text-align: left;
    margin: 0px 10px 0 62px;
    padding: 1px 0px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.otherMember i{
    position: absolute;
    top: 8px;
    left: 8px;
    width: 45px;
    height: 45px;
    border-radius: 666px;
    background-size: 45px;
}
.otherMember .name{
    font-size: 20px;
    font-weight: 500;
    margin-top: 17px;
    color: var(--text-deepbrown);
}