body {
    --products-footer-bgcolor: rgb(238, 238, 238);
    --products-footer: rgb(107, 107, 107);
    --products-footer-a: rgb(77, 77, 77);
    --products-footer-text: rgb(109, 109, 109);
    --products-footer-hover: rgb(44, 44, 44);
}

html[data-theme=dark] body {
    --products-footer-bgcolor: rgb(53, 53, 53);
    --products-footer: rgb(141, 141, 141);
    --products-footer-a: rgb(179, 179, 179);
    --products-footer-text: rgb(184, 184, 184);
    --products-footer-hover: rgb(230, 230, 230);
}

.light {
    --products-box-link-background: #ffffff99;
    --products-box-link-hover-background: #fff;
    --products-box-link-border: rgb(41, 41, 41);
    --products-box-link-border-b: rgba(41, 41, 41, 0.5);
}

.dark {
    --products-box-link-background: #20202099;
    --products-box-link-hover-background: rgba(41, 41, 41, 0.705);
    --products-box-link-border: rgb(196, 196, 196);
    --products-box-link-border-b: rgba(196, 196, 196, 0.5);
}

.products-page * {
    margin: 0;
    padding: 0;
}

bs {
    display: inline-block;
    width: 0.5em;
}

.products-page .msg {
    display: block;
    width: calc(100% - 16%);
    text-align: center;
    margin: 73px 8%;
    line-height: 2;
    opacity: 0.8;
}

.products-page .tip {
    display: inline-block;
    position: relative;
    top: -.58em;
    font-size: .5em;
    padding: .3em;
    margin: -.3em;
    border-radius: 0.5em;
    color: inherit !important;
}

.products-page .opes {
    display: flex;
    margin: 0;
    padding: 10px 0 10px 0;
    font-size: 14px;
    font-weight: 300;
}

.products-page .opes a:not(.tip) {
    display: flex;
    flex-direction: row;
    outline: none;
    margin: 2px;
    padding: 8px 12px;
    border: 1.6px solid #ffffff00;
    border-radius: 300px;
    text-decoration: none !important;
    color: var(--products-box-text) !important;
    background: var(--products-box-link-background);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    transition: all 0.33s;
}

.detail-block .opes a:not(.tip) {
    border-color: var(--products-box-link-border-b);
}

.products-page .opes a:not(.tip):hover,
.products-page .opes a:not(.tip):focus-visible {
    background: var(--products-box-link-hover-background);
    border: 1.6px solid var(--products-box-link-border);
}

.products-page .opes a:not(.tip):not(*[data-button-type=no]):focus-visible,
.products-page .opes a:not(.tip):not(*[data-button-type=no]):hover {
    padding: 8px 11px;
}

.products-page .opes a:not(.tip) span {
    font-weight: bold;
}

.products-page .opes a:not(.tip) .svg {
    margin: 1.5px -2px 0 2px;
    width: 15px;
    height: 15px;
    fill: var(--products-box-text);
    opacity: 0.8;
    transition: all 0.33s;
}

.products-page .opes a:not(.tip):focus-visible .svg,
.products-page .opes a:not(.tip):hover .svg {
    margin-left: 4px;
    opacity: 1;
}

.products_footer {
    position: relative;
    display: block;
    margin-top: 20px;
    margin-bottom: -20px;
    padding: 16px 10% 33px 10%;
    color: var(--products-footer);
    background-color: var(--products-footer-bgcolor);
    font-size: 13px;
}

.products_footer * {
    margin: 0;
    margin-top: -60px;
    padding: 0;
    padding-top: 60px;
    line-height: 1.78;
}

.products_footer a:not(.tip) {
    color: var(--products-footer-a);
    text-decoration: none;
    transition: color 0.5s;
}

.products_footer a:not(.tip):hover,
.products_footer a:not(.tip):focus-visible {
    color: var(--products-footer-hover);
}